openapi: 3.1.0
info:
  title: Stay AI Account Selling Plans API
  version: '2.0'
  description: Documented public REST API for Stay AI (formerly Retextion), a subscription retention and growth platform for Shopify DTC brands. All endpoints are authenticated with an API key sent in the X-RETEXTION-ACCESS-TOKEN header. Paths, methods, and query/path parameters are taken from the Stay AI developer documentation at https://docs.stay.ai; request and response body schemas are simplified representations - consult the live reference for full payload details.
  contact:
    name: Stay AI
    url: https://docs.stay.ai
servers:
- url: https://api.retextion.com/api/v2
security:
- accessToken: []
tags:
- name: Selling Plans
paths:
  /selling-plan-groups:
    get:
      operationId: query-selling-plan-groups
      summary: Query Selling Plan Groups
      tags:
      - Selling Plans
      responses:
        '200':
          description: A list of selling plan groups
    post:
      operationId: create-selling-plan-group
      summary: Create Selling Plan Group
      tags:
      - Selling Plans
      responses:
        '200':
          description: Selling plan group created
  /selling-plan-groups/{sellingPlanGroupId}:
    get:
      operationId: query-selling-plan-group-by-id
      summary: Query Selling Plan Group by ID
      tags:
      - Selling Plans
      parameters:
      - name: sellingPlanGroupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested selling plan group
    put:
      operationId: update-selling-plan-group
      summary: Update Selling Plan Group
      tags:
      - Selling Plans
      parameters:
      - name: sellingPlanGroupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Selling plan group updated
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-RETEXTION-ACCESS-TOKEN
